*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-message {
    padding: 8px 12px;
    margin: 5px;
    max-width: 75%;
    border-radius: 15px;
}

.sent {
    font-size: 1.2rem;
    color: white;
    align-self: flex-end;
    background: black;
}

.received {
    font-size: 1.2rem;
    align-self: flex-start;
    background: yellow;
}

.chat-input {
    min-height: 8%;
    background-color: grey;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.chat-input button {
    margin-left: 10px;
    padding: 15px 40px;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
