<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/ChatSection.css}">
    <script th:src="@{/javascript/ChatSection.js}"></script>
</head>
<body>
  <div class="outer">
    <div class="accepted">
      <h3>Chats</h3>
          <div class="list-column" th:each="req : ${acceptedRequests}" th:attr="data-name=${req.from}, data-status=${req.status}">
            <img th:src="@{/images/profile-user.png}">
            <div class="list-row">
                <p th:text="${req.from}"></p>
                <p>Tap to chat</p>
            </div>
          </div>
    </div>
    <div class="pending">
      <h3>Pending Requests</h3>
          <div class="list-column" th:each="req : ${pendingRequests}" th:attr="data-name=${req.from}, data-status=${req.status}">
            <img th:src="@{/images/profile-user.png}">
            <div class="list-row">
                <p th:text="${req.from}"></p>
                <p>Tap to chat</p>
            </div>
            <div class="choice"><img class="accept" th:id="${req.from}" src="/images/checklist.png"><img class="reject" src="/images/cross.png"></div>
          </div>
          <div class="msg"></div>
    </div>
  </div>
</body>
</html>