<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/LandlordSignup.css}">
    <script th:src="@{/javascript/Signup.js}"></script>
</head>
<body>
    <div class="container">
        <h2>SignUp</h2>
        <form id="signupForm" th:action="@{/landlord/signup}" th:method="post" onsubmit="uploadAndSubmit(event)">
            <div class="outer">
                <div class="column1">
                    <div class="input-group">
                        <input type="text" id="name" name="name" placeholder="Full Name" required>
                    </div>
                    <div class="input-group">
                        <input type="text" id="userName" name="userName" placeholder="Create Username" required>
                    </div>
                    <div class="input-group">
                        <input type="text" id="rawPassword" name="rawPassword" placeholder="Create Password" required>
                    </div>
                </div>
                <div class="column2">
                    <div class="radio-button">
                        <p>Room Type</p>
                        <label>
                            <input type="radio" name="TypeofRoom" value="single"> Single
                        </label>
                        <label>
                            <input type="radio" name="TypeofRoom" value="double"> Double
                        </label>
                    </div>
                    <div class="radio-button">
                        <p>Room For</p>
                        <label>
                            <input type="radio" name="RoomFor" value="individual"> Individual
                        </label>
                        <label>
                            <input type="radio" name="RoomFor" value="couple"> Couple
                        </label>
                        <label>
                            <input type="radio" name="RoomFor" value="family"> Family
                        </label>
                    </div>
                    <input type="file" accept="image/*" id="fileInput"><br><br>
                </div>
            </div>
            <div class="progress-container" id="progressContainer">
                <div class="progress-bar" id="progressBar"></div>
            </div>
            <button type="submit" class="btn" id="submitButton">Signup</button>
            <div class="signup">
                <p>Already a user? <a href="/login">LogIn</a></p>
            </div>
        </form>
    </div>
</body>
</html>
