<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/Main.css}">
</head>
<body>
    <div class="outer">
        <div class="button-container">
            <div class="button1"><a class="tenet" href="/tenet/signup">For Tenant</a></div>
            <div class="button2"><a class="landlord" href="/landlord/signup">For Landlord</a></div>
        </div>
        <div class="container">
            <div class="div1"></div>
            <div class="div2">
                <h2>Welcome to HomeForRent!</h2>
                <p>This is a platform to find a room for rent and to rent your property at a negotiable price.
                    Both parties will decide their interest and amount. Find better places near your office or college.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
