<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/SingleTenet.css}">
    <script th:src="@{/javascript/SingleTenet.js}"></script>
</head>
<body>
    <div class="outer">
        <div class="box1">
            <h2 th:text="${tenant.name}"></h2>
        </div>
        <div class="box2">
            <div class="in"><h4>Room for:</h4><p th:text="${tenant.RoomFor}"></p></div>
            <div class="in"><h4>Room Type:</h4><p th:text="${tenant.TypeofRoom}"></p></div>
        </div>
        <div class="address"><h4>Address:</h4> <p th:text="${tenant.address}"></p></div>
        <div class="chat box" th:id="${tenant.userName}">Request Chat</div>
        <div id="request-status" style="margin-top: 10px; font-weight: bold;"></div>
        <!-- <div class="image-container">
            <img th:each="img : ${tenant.roomImages}" th:src="@{${img}}">
        </div> -->
    </div>
</body>
</html>