<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/TenetSignup.css}">
</head>
<body>
    <div class="container">
        <h2>SignUp</h2>
        <form>
            <div class="outer">
                <div class="column1">
                    <div class="input-group">
                        <input type="text" id="name" placeholder="Full Name" required>
                    </div>
                    <div class="input-group">
                        <input type="text" id="age" placeholder="Age" required>
                    </div>
                    <div class="input-group">
                        <input type="text" id="occupation" placeholder="Occupation" required>
                    </div>
                    <div class="input-group">
                        <input type="text" id="userName" placeholder="Create Username" required>
                    </div>
                    <div class="input-group">
                        <input type="text" id="password" placeholder="Create Password" required>
                    </div>
                </div>
                <div class="column2">
                    <div class="radio-button">
                        <p>Gender</p>
                        <label>
                            <input type="radio" name="gender" value="male"> Male
                        </label>
                        <label>
                            <input type="radio" name="gender" value="female"> Female
                        </label>
                        <label>
                            <input type="radio" name="gender" value="other"> Other
                        </label>
                    </div>
                    <div class="radio-button">
                        <p>Room Type</p>
                        <label>
                            <input type="radio" name="roomtype" value="single"> Single
                        </label>
                        <label>
                            <input type="radio" name="roomtype" value="double"> Double
                        </label>
                    </div>
                    <div class="radio-button">
                        <p>Martial Status</p>
                        <label>
                            <input type="radio" name="marital" value="unmarried"> Unmarried
                        </label>
                        <label>
                            <input type="radio" name="marital" value="married"> Married
                        </label>
                    </div>
                    <div class="radio-button">
                        <p>Room For</p>
                        <label>
                            <input type="radio" name="roomfor" value="individual"> Individual
                        </label>
                        <label>
                            <input type="radio" name="roomfor" value="couple"> Couple
                        </label>
                        <label>
                            <input type="radio" name="roomfor" value="family"> Family
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Signup</button>
            <div class="signup">
                <p>Already a user? <a href="/login">LogIn</a></p>
            </div>
        </form>
    </div>
</body>
</html>
